<!DOCTYPE html>
 <head>
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/style.css"

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

 </head>

 <body>
 <div class='container calltoaction'>
 		<h1><a class='actionquote' href='#about'>Pay to Pay.</a></h1>
 </div>

<div id='about'>

	<strong><h2>It's about time you found MoneyHole.</h2></strong>

	<p>
		We live in a world of expediency. We endlessly spend on that which we neither need nor want, throwing our hard earned wealth to those who provide us with 'entertainment' and 'functionality'. Kim Kardashian alone makes millions off of an app in we users must pay to become wealthy and famous in the virtual life, whilst becoming destitute and poor in reality. A wicked existence indeed.
	</p>
<br>
	<p>
		With Moneyhole, bypass the bullshit and give us your money directly. Compete against your friends to see who can toss the most cash. Indulge in the thrill of gliding your finger across that fancy new iPhone. Gone are the days of incentivized, candy-laden kiddy games. Show the world that you don't pay to play. You pay to pay.
	<p>
	<button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
	  <a href="#leaderboard_intro" ><span class="glyphicon glyphicon-chevron-down down_arrow"</span></a>
	</button>

</div>

<div id='leaderboard_intro'>
		<h2>The Devil's in the Details.</h2>

		<p>
			We pride ourselves on our unabashed honesty. With MoneyHole, you know exactly what you're doing, and you know how many others are doing it. Share the joy of wasting money with your friends and family, and relish in the fact that others are doing the same here as you view the data.
		</p>

		<button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
		  <a href="#userstats" ><span class="glyphicon glyphicon-chevron-down down_arrow"</span></a>
		</button>
</div>


<div id='stats'>

	<div id='userstats'>
		<h3>Swipes</h3>
		<div class="factoid">
			<p>To Date, we have seen</p> 
			<div class="bignum" id="totalswipes">0</div>
			<p>total swipes with MoneyHole</p>
		</div>

<!-- 		<div class="factoid">
			<p>Users perform an average of</p> 
			<div class="bignum" id="averageswipes">0</div>
			<p>swipes per day</p>
		</div> -->

		<div class="factoid">
			<p>Within the last hour we have seen</p> 
			<div class="bignum" id="swipetime">0</div>
			<p>swipes. The swipes, may they be plentiful.</p>
		</div>

	</div>

	<div id='swipestats'>
		<h3>Users</h3>
			<div class="factoid">
				<p>Users have tossed</p> 
				<div class="bignum" id="usertotaldata">44</div>
				<p>dollars total on MoneyHole</p>
			</div>

			<div class="factoid">
				<p>To date we currently have</p> 
				<div class="bignum" id="numberofusers">44</div>
				<p>registered users</p>
			</div>

			<div class="factoid">
				<p>As it stands,</p> 
				<div class="bignum" id="usernotossdata">44</div>
				<p>users have refused to pay</p>
			</div>
	</div>

</div>

<div id="#metrics">
<h2>The LeaderBoard</h2>

	<div id="leaderboard">
		0
	</div>
<br>
</div>

<div id="donate">
	<h2>Donate to the Cause</h2>
		<p class='donatetext'>
			Without your support and continued use, MoneyHole would not be what it is today. Keep this train rolling and donate. Expect nothing in return.
		</p>

		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="E5XW4R222AAUS">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">

			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>

		</form>


	</div>	



 </body>

<script src="/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/style.js"></script>
