	<% @users.each_with_index do |user, idx| %>
		<p style="font-size: <%= "#{600/(idx+1*10)}" %>px;"><span><%= "#{user["username"]}:  " %></span><span style="color: green"><%= "$#{user["amountGiven"]}" %></span></p>
	<% end %>